body {
  margin: auto;
  width: 100%;
}


#map-container {
  display:flex;
  justify-content: center;
  align-items:center;
  height:100%;
  width:100%;
}

/* -------------------------- Navigation CSS ------------------------ */
#navigation-container {
  background: black;
  height: 100%;
  width: 100%;
  color:#fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/* 
#navigation-title {
} */

/* -------------------------- Side Menu CSS ------------------------ */
#sidemenu-container {
  position: fixed;
  height: 86vh;
  background: #444;
  margin-left: 10px;
  border-radius: 20px;
  padding: 20px 0;
  width: 20vw;
  color: #FFF;
  display: flex;
  justify-content: center;
}

/* -------------------------- Map CSS ------------------------ */

/* ------------------------------------------------------------------ */