
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------- Map CSS ------------------------ */
#map {
  height: 100vh;
}

/* -------------------------- Navigation CSS ------------------------ */
#navigation-container {
  height: 100%;
  width: 100%;
  color:#fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/* 
#navigation-title {
} */

/* -------------------------- Side Menu CSS ------------------------ */
#sidemenu-container {
  position: fixed;
  height: 86vh;
  background-color: rgba(0, 0, 0, 0.61);
  margin-left: 10px;
  border-radius: 20px;
  padding: 20px 0;
  width: 350px;
  color: #FFF;
  display: flex;
  justify-content: center;
  top:100px;
  z-index: 2;
}

/* -------------------------- Map CSS ------------------------ */

/* ------------------------------------------------------------------ */